---
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="flex h-screen w-screen flex-col items-center justify-center bg-gray-300">
        <h1 class="w-fit text-4xl font-bold text-black">
            このサイトはGithub Actionsの設定をしているサイトです。
        </h1>
        <p class="mt-5 text-2xl text-gray-700">プルリク時のテンプレートも作成しています。</p>
    </div>
</Layout>
